<div class="page-header">
  <h2>Customers</h2>
  <div class="search-bar">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search">
  </div>
</div>

<div class="customer-table">
  <div class="customer-table-header">
    <div class="column-id">Id</div>
    <div class="column-name">Name</div>
    <div class="column-email">Email</div>
    <div class="column-mobile">Mobile</div>
    <div class="column-address">Address</div>
    <div class="column-action">Action</div>
  </div>

  <div class="customer-row">
    <div class="column-id">1</div>
    <div class="column-name">Charu</div>
    <div class="column-email">charu@gmail.com</div>
    <div class="column-mobile">9015648565</div>
    <div class="column-address">Nalumukku,
695305,
Trivandrum</div>
    <div class="column-action">
      <button class="btn-unblock">UnBlock</button>
      <button class="btn-block">Block</button>
    </div>
  </div>

  <div class="customer-row">
    <div class="column-id">2</div>
    <div class="column-name">Zak</div>
    <div class="column-email">zak@gmail.com</div>
    <div class="column-mobile">9015648565</div>
    <div class="column-address">Nalumukku,
695305,
Trivandrum</div>
    <div class="column-action">
      <button class="btn-unblock">UnBlock</button>
      <button class="btn-block">Block</button>
    </div>
  </div>

  <div class="customer-row">
    <div class="column-id">3</div>
    <div class="column-name">Achu</div>
    <div class="column-email">achu@gmail.com</div>
    <div class="column-mobile">9015648565</div>
    <div class="column-address">Nalumukku,
695305,
Trivandrum</div>
    <div class="column-action">
      <button class="btn-unblock">UnBlock</button>
      <button class="btn-block">Block</button>
    </div>
  </div>

  <div class="customer-row">
    <div class="column-id">4</div>
    <div class="column-name">Mrunal</div>
    <div class="column-email">mrunal@gmail.com</div>
    <div class="column-mobile">9015648565</div>
    <div class="column-address">Nalumukku,
695305,
Trivandrum</div>
    <div class="column-action">
      <button class="btn-unblock">UnBlock</button>
      <button class="btn-block">Block</button>
    </div>
  </div>
</div>

<div class="page-footer">
  <div class="pagination">
    <a href="#">Previous</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">Next</a>
  </div>
</div>